*{
  margin:0;
}
body{
  min-height: 100vh;
}
#container{
  display: grid;
  min-height: 95vh;
}
#button-container{
  display: flex;
  justify-content: center;
  border: 1px black solid;
  gap:30px;
  min-height: 5vh;
  background-color: red;
}
.button{
  padding: 0 30px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
}