*{
  margin:0;
}
body{
  min-height: 100vh;
}
#container{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  min-height: 100vh;
}
.box{
  border: 1px black solid;

}